<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>FootWEB</title>
	<style>
	.content {
  max-width: 5px;
  margin: auto;
}
.column {
  float: left;
  width: 100px;
  padding: 1px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.list-group-item{
width:220px;


}
#myDIV0,#myDIV1,#myDIV2,#myDIV3,#myDIV4,#myDIV5,#myDIV6,#myDIV7,#myDIV8,#myDIV9,#myDIV10{
border: 2px inset #1C6EA4;
border-radius: 40px 40px 40px 40px;
 height: 35px;
}

#myDIVV0,#myDIVV1,#myDIVV2,#myDIVV3,#myDIVV4,#myDIVV5,#myDIVV6,#myDIVV7,#myDIVV8,#myDIVV9,#myDIVV10{
border: 2px inset #1C6EA4;
border-radius: 40px 40px 40px 40px;
 height: 35px;



}
.mask{
object-position: left;
  z-index: 3;
}














	</style>



  </head>
  <body onload="Wczytaj()">
  {% extends 'base.html' %}
{% block content %}


<header>
<script>
// Set the date we're counting down to
 var dt = new Date();
         dt.setMinutes( dt.getMinutes() + 1 );


// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance =dt - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML =  seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
  <div
    class="p-5 text-center bg-image"
    style="
       background-image: url('https://images6.alphacoders.com/927/927110.jpg');

	  width: 100%;
	  height: 100%;


    "
  >


    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">

      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">


          <h1 class="mb-1">{{ mecz }}</h1>
          <h2 class="mb-3">{{ wynik }}</h2>
		  <h2 class="mb-3">SKŁAD: {{ tt2 }}</h2>
           <div class="container">
  <div class="row">
    <div class="col">
<a class="btn btn-outline-light btn-lg" onclick="window.location.reload(true)" role="button" id="start"
          >START</a
          >
    </div>
    <div class="col">
      <a class="btn btn-outline-light btn-lg"   id="punkty"
          >0</a>
    </div>
  </div>



		<div class="container">
              <p id="demo">LOSOWANIE !</p>
  <div class="row">





    <div class="col"><ul class="list-group list-group-flush">
  <li class="list-group-item"  id="myDIV0"> </li>
  <li class="list-group-item"  id="myDIV1"></li>
  <li class="list-group-item"  id="myDIV2"></li>
  <li class="list-group-item"  id="myDIV3"></li>
  <li class="list-group-item"  id="myDIV4"></li>
          <li class="list-group-item"  id="myDIV5"></li>
  <li class="list-group-item"  id="myDIV6"></li>
  <li class="list-group-item"  id="myDIV7"></li>
  <li class="list-group-item"  id="myDIV8"></li>
  <li class="list-group-item"  id="myDIV9"></li>
          <li class="list-group-item"  id="myDIV10"></li>
</ul></div>
    <div class="col"><ul class="list-group list-group-flush">
  <li class="list-group-item"  id="myDIVV0">1</vr></li>
  <li class="list-group-item"  id="myDIVV1">2</li>
  <li class="list-group-item"  id="myDIVV2">3</li>
  <li class="list-group-item"  id="myDIVV3">4</li>
  <li class="list-group-item"  id="myDIVV4">5</li>
          <li class="list-group-item" id="myDIVV5">6</li>
  <li class="list-group-item"  id="myDIVV6">7</li>
  <li class="list-group-item"  id="myDIVV7">8</li>
  <li class="list-group-item"  id="myDIVV8">9</li>
  <li class="list-group-item"  id="myDIVV9">10</li>
          <li class="list-group-item"  id="myDIVV10">11</li>

</ul></div>

  </div>




 <a class="btn btn-outline-light btn-lg" role="button" onclick="myFunction()">SPRAWDŹ</a>
		  <input type="text" class="form-control"  id="input" placeholder="Wpisz nazwisko piłkarza" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>
        </div>
      </div>
    </div>
  </div>


<input type="hidden" id="p1" name="variable" value="{{ player1 }}">
</div>
<input type="hidden" id="p2" name="variable" value="{{ player2 }}">
</div>
<input type="hidden" id="p3" name="variable" value="{{ player3 }}">
</div>
<input type="hidden" id="p4" name="variable" value="{{ player4 }}">
</div>
<input type="hidden" id="p5" name="variable" value="{{ player5 }}">
</div>
<input type="hidden" id="p6" name="variable" value="{{ player6 }}">
</div>
<input type="hidden" id="p7" name="variable" value="{{ player7 }}">
</div>
<input type="hidden" id="p8" name="variable" value="{{ player8 }}">
</div>
<input type="hidden" id="p9" name="variable" value="{{ player9 }}">
</div>
<input type="hidden" id="p10" name="variable" value="{{ player10 }}">
</div>
<input type="hidden" id="p11" name="variable" value="{{ player11 }}">
</div>
<input type="hidden" id="check" name="variable" value="0">
</div>

<script>
var playergotowiec1
var playergotowiec2
var playergotowiec3
var playergotowiec4
var playergotowiec5
var playergotowiec6
var playergotowiec7
var playergotowiec8
var playergotowiec9
var playergotowiec10
var playergotowiec11
var TABLICA
var TABLICA2
var spr0
var spr1
var spr2
var spr3
var spr4
var spr5
var spr6
var spr7
var spr8
var spr9
var spr10




function Wczytaj()
{

  playergotowiec1=document.getElementById("p1").value;
  playergotowiec2=document.getElementById("p2").value;
  playergotowiec3=document.getElementById("p3").value;
  playergotowiec4=document.getElementById("p4").value;
  playergotowiec5=document.getElementById("p5").value;
  playergotowiec6=document.getElementById("p6").value;
  playergotowiec7=document.getElementById("p7").value;
  playergotowiec8=document.getElementById("p8").value;
  playergotowiec9=document.getElementById("p9").value;
  playergotowiec10=document.getElementById("p10").value;
    playergotowiec11=document.getElementById("p11").value;
    TABLICA = [playergotowiec1,playergotowiec2,playergotowiec3,playergotowiec4,playergotowiec5,playergotowiec6,playergotowiec7,playergotowiec8,playergotowiec9,playergotowiec10,playergotowiec11];
    spr0=false
    spr1=false
    spr2=false
    spr3=false
    spr4=false
    spr5=false
    spr6=false
    spr7=false
    spr8=false
    spr9=false
    spr10=false

    TABLICA2 = [spr0,spr1,spr2,spr3,spr4,spr5,spr6,spr7,spr8,spr9,spr10];





}


function myFunction()
{


   var player=document.getElementById("input").value;

    var tmp=document.getElementById("demo").innerHTML;


     var ptk= id=document.getElementById("punkty").innerHTML
     ptk=parseInt(ptk);

   document.getElementById("input").style.backgroundColor = "green";


   for (let i = 0; i < TABLICA.length; i++) {

    if(player==TABLICA[i] && tmp!="EXPIRED" && TABLICA2[i]==false ){
     TABLICA2[i]=true;
     var myDiv = document.getElementById("myDIV"+i);
     myDiv.innerHTML =player;


    document.getElementById("punkty").innerHTML=ptk+1;

     document.getElementById("check").value=2;
          document.getElementById("input").style.backgroundColor = "#B7F359";
     break;

       }else
      {
             document.getElementById("input").style.backgroundColor = "#F57D50";
       }

   }
    if(tmp=="EXPIRED"){
    var myDiv1 = document.getElementById("myDIV0");
     myDiv1.innerHTML=playergotowiec1;

      var myDiv1 = document.getElementById("myDIV1");
     myDiv1.innerHTML=playergotowiec2;

      var myDiv1 = document.getElementById("myDIV2");
     myDiv1.innerHTML=playergotowiec3;

      var myDiv1 = document.getElementById("myDIV3");
     myDiv1.innerHTML=playergotowiec4;

      var myDiv1 = document.getElementById("myDIV4");
     myDiv1.innerHTML=playergotowiec5;

      var myDiv1 = document.getElementById("myDIV5");
     myDiv1.innerHTML=playergotowiec6;

      var myDiv1 = document.getElementById("myDIV6");
     myDiv1.innerHTML=playergotowiec7;

      var myDiv1 = document.getElementById("myDIV7");
     myDiv1.innerHTML=playergotowiec8;

      var myDiv1 = document.getElementById("myDIV8");
     myDiv1.innerHTML=playergotowiec9;

      var myDiv1 = document.getElementById("myDIV9");
     myDiv1.innerHTML=playergotowiec10;

      var myDiv1 = document.getElementById("myDIV10");
     myDiv1.innerHTML=playergotowiec11;
    }


}

</script>


</header>








{% endblock %}

</body>

</html>

