<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>FOOTWEB</title>
   <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
   <style>
      .list-group-item {
      height: 80px;
      width: 80%;
      background-color: #A1D0F9;
      }
      #p1{
      position : center
      }
      #news-feed {
      width: 300px;
      }
      #news-feed .list-group a:hover {
      color: var(--primary); /* this variable is provided by the bootstrap */
      }
      .accordion{
      width: 279px;
      }
      .list-group-item{
      width: 279px;
      }
      div.a{
      font-size: 15px;
      }
      h3{
      font-size: 2em;
      }
      h1{
      font-size: 1em;
      }
      h2 {
      text-decoration: overline;
      text-decoration: none;
      }
      body {
      background: rgb(34,193,195);
      background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(45,63,253,0.6954131994594712) 100%);
      }
      h6{
      font-size: 1em;
      }
       h7{
      font-size: 1.2em;
        color: blue;
      }

   </style>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
   <p>{{ x }}</p>
   <div class="container">
   <div class="row">
      <div class="col-sm">
         <ul class="list-group">
            <li class="list-group-item active">
               <h2>GOSPODARZE </h2>
            </li>
            {% for i,j in zipped %}
            <div class="accordion"  id="accordionExample1k">
               <div class="card">
                  <!--visible portion in collapsed state-->
                  <div class="card-header" id="headingThreel">
                     <h2 class="mb-0">
                        <button class="btn btn-link collapsed"
                           type="button" data-toggle="collapse"
                           data-target="#k{{ j }}"
                           aria-expanded="false"
                           aria-controls="collapseThree">
                           <center>
                              <h4>{{ i }}</h4>
                              <h4><img src="{{ j }}" width="70" height="67"></h4>
                           </center>
                        </button>
                     </h2>
                  </div>
                  <!-- Content to be displayed in open state -->
               </div>
            </div>
            {% endfor %}
         </ul>
      </div>
      <div class="col-sm">
         <li class="list-group-item active">
            <center>
               <h2>WYNIK</h2>
            </center>
         </li>
         {% for i,j,jj,ww in zipped3 %}
         <div class="accordion"  id="accordionExample1">
            <div class="card">
               <!--visible portion in collapsed state-->
               <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                     <button class="btn btn-link collapsed"
                        type="button" data-toggle="collapse"
                        data-target="#k{{ j }}"
                        aria-expanded="false"
                        aria-controls="collapseThree">
                        <h3>{{ i }}</h3>
                        <h4>
                           SZCZEGÓŁY <br>MECZU
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                           </svg>
                        </h4>
                     </button>
                  </h2>
               </div>
               <!-- Content to be displayed in open state -->
               <div id="k{{ j }}" class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample1">
                  <li class="list-group-item">
                     <center>
                        <h7 >ROZGRYWKI</h7>
                     </center>
                     <h6><center>{{ jj }}</center></h6>
                  </li>
                  <li class="list-group-item">
                     <center>
                        <h7>KRAJ</h7>
                     </center>
                     <h6><center>{{ ww }}</center></h6>
                  </li>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="col-sm">
         <ul class="list-group">
            <li class="list-group-item active">
               <center>
                  <h2>GOŚCIE</h2>
               </center>
            </li>
            {% for i,j in zipped2 %}
            <div class="accordion"  id="accordionExample1kf">
               <div class="card">
                  <!--visible portion in collapsed state-->
                  <div class="card-header" id="headingThreelf">
                     <h2 class="mb-0">
                        <button class="btn btn-link collapsed"
                           type="button" data-toggle="collapse"
                           data-target="#k{{ j }}"
                           aria-expanded="false"
                           aria-controls="collapseThree">
                           <center>
                              <h4>{{ i }}</h4>
                              <h4><img src="{{ j }}" width="70" height="64"></h4>
                           </center>
                        </button>
                     </h2>
                  </div>
                  <!-- Content to be displayed in open state -->
               </div>
            </div>
            {% endfor %}
         </ul>
      </div>
   </div>
      {% endblock %}
</body>
</html>
